{% extends 'Correctif/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-3">
        <img src="{% static '/images/beeplus.png' %}" alt="Logo Bee Plus" style = "height: 150px;margin-left: -30px;">
    </div>
    <div class="col-6" style="margin-top: 200px;">
        

        <div class="d-grid gap-2">
            <a class="btn btn-outline-success btn-lg" type="button" href = "{% url 'correctif' %}"><i class="bi bi-wrench"></i>&nbsp;&nbsp;Correctif</a>
            <button class="btn btn-outline-success btn-lg" type="button"><i class="bi bi-pen-fill"></i>&nbsp;&nbsp;Créer Sous OT</button>
            <button class="btn btn-outline-success btn-lg" type="button"><i class="bi bi-journal-arrow-up"></i>&nbsp;&nbsp;Valider Sous OT</button>
            <button class="btn btn-outline-success btn-lg" type="button"><i class="bi bi-calendar-date-fill"></i>&nbsp;&nbsp;Préventif</button>
            <button class="btn btn-outline-success btn-lg" type="button"><i class="bi bi-toggles"></i>&nbsp;&nbsp;Controle Technique</button>
            <button class="btn btn-outline-success btn-lg" type="button"><i class="bi bi-gear"></i>&nbsp;&nbsp;Paramétrages</button>
            <button class="btn btn-outline-success btn-lg" type="button"><i class="bi bi-bar-chart"></i>&nbsp;&nbsp;Analyse</button>
        </div>
    </div>
    <div class="col-3">
        <img src="{% static '/images/logo-actemium.svg' %}" alt="Logo Bee Plus" style = "height: 50px;margin-top: 60px;">
    </div>
</div>
{% endblock %}